body {
    margin: 0;
    padding: 0;
    background-color: #0A1128;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

#lixoDiv {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lixoDiv img{
    max-width: 50px;    
}

#cards {
    display: flex;
    margin: 20px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.addCard {
    margin: 0 10px;
    background-color: #284B63;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addCard h3, .addCard p {
margin: 0 15px;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.addCard p, .card .top p {
    font-size: 30px;
    cursor: pointer;
}

.card {
    background-color: #284B63;
    border-radius: 5px;
    width: 250px;
    max-width: 250px;
    margin: 0px 10px 10px 10px;
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.card h3 {
    margin: 10px 0;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.areaDrop{
    padding: 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    min-width: 100%;
}

.cardObject {
    background-color: #4D7EA8;
    padding: 10px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.568);
}

.cardObject + .cardObject {
    margin-top: 10px;
}

.isDragging {
    cursor: move;
    opacity: 0.5;
}


.status {
    border-radius: 5px;
    max-width: 20px;
    min-height: 5px;
    margin-bottom: 5px;
}

.status.red{
    background-color: #EF2D56;
}

.status.green{
    background-color: green;
}

.status.yellow{
    background-color: yellow;
}